#upgradeWindowButton {
    background-image: url("../../resource/upgrade_new.png");
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 40px;
    aspect-ratio: 0.92;
    position: relative;
    float:right;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}

#upgradeWindowButton:focus {
    outline:none;
}

#upgradeWindowButton:hover {
    filter:contrast(2);
}

#upgradeWindow .budgetwrap{
    display: inline;
    margin-bottom:10px;
}

#upgradeWindow p {
    color: #f7d51d;
}

#upgradeWindow {
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    left: 17%;
    top: 10%;
    width: 66%;
    height: 80%;
    border-color: #f7d51d;
}

#upgradeWindow.nes-container.is-dark {
    background: rgba(0,0,0,0.8);
}

#upgradeWindow::after {
    background-color: transparent;
}

#help-closeWrapper{
    display: flex;
    position: absolute;
    top: 10px;
    right: 10px;
}

.closeUW {
    width: auto;

}.closeUW:hover {
     background-color: #fde997;
}

.upgradeWrapper {
    width: 100%;
    color: #fff;
    text-align: left;
    font-family: "Dogica", sans-serif;
    margin: 10px 0;
}

.upgradeWrapper span{
    font-size: 20px;
    font-weight: bold;
}

.upgradeWrapper button{
    margin-top: 10px;
    margin-bottom: 10px;
}
.upgradeWrapper button:enabled:hover{
    background-color: #fde997;
}
.upgradeWrapper button:disabled, #upgradeWindow nav button:disabled{
    color: grey;
}
.levelWrapper{
    display: flex;
    width: 100%;
    height: 10px;
    margin-bottom:20px;
}
.levelWrapper div{
    display: block;
    border: 2px solid black;
    background-color: white;
    height: 100%;
}

/* div mouse needs to hover above to show upgradeInfo*/
.infoContainer {
    display: inline;
    margin-left: 10px;
}
/* changes visibility of upgradeinfo*/
.infoContainer:hover .upgradeInfo{
    visibility: visible;
}

/* Styling of infotext*/
.infoContainer .upgradeInfo {
    visibility: hidden;
    width: auto;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px;
    border-radius: 6px;
    /*cursor: pointer;*/
    position: absolute;
    z-index: 10;
}

#investments{
    width:90%;
}

#upgrades {
    width:90%;
}

#upgradeWindow nav button{
    width: auto;
}

#upgradeLeftWrapper {
    display: inline-block;
    width: 60%;
    overflow-y: auto;
    height: 100%;
}

#upgradeRightWrapper {
    display: inline-block;
    font-family: "Dogica", sans-serif;
    width: 30%;
    padding-left:25px;
    overflow-y: auto;
    height: 100%;
}

#upgradeRightWrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

#upgradeRightWrapper ul li{
    padding-bottom: 10px;
}

#upgradeContentWrapper{
    top: 20%;
    position: absolute;
    height: 80%;
    width: 100%;
}


#upgradeWindow > .title {
    background-color: #191919;
}