#upgradeWindowButton {
    background-image: url("../../resource/upgrade_new.png");
    background-size: cover;
    background-color: transparent;
    border: none;
    width: 50px;
    aspect-ratio: 0.95;
    position: absolute;
    right: 0;

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: pixelated;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */


}

#upgradeWindowButton:hover {
    background-color: #f7d51d;
}
#upgradeWindow .budgetwrap{
    display: inline;
}


#upgradeWindow {
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    left: 25%;
    top: 10%;
    background-color: rgba(255, 223, 108, 0.50);
    width: 50%;
    height: 80%;
    border: 4px solid #af8f2c;
    border-radius: 10px;
}

#closeUW {
    display: inline;
    width: auto;
    position: absolute;
    background-color: #ffdf6c;
    border: 0px solid #af8f2c; /* or 2px */
    right: 10px;

}#closeUW:hover {
     background-color: #fde997;
}

.upgradeWrapper {
    width: 100%;
    color: #fff;
    text-align: left;
    font-family: "lato", sans-serif;
    margin: 10px 0;
}

.upgradeWrapper span{
    font-size: 20px;
    font-weight: bold;
}

.upgradeWrapper button{
    position: relative;
    background-size: cover;
    background-color: #ffdf6c;
    border: 2px solid #af8f2c;
}
.upgradeWrapper button:enabled:hover{
    background-color: #fde997;
}
.upgradeWrapper button:disabled, #upgradeWindow nav button:disabled{
    color: grey;
}
.levelWrapper{
    display: flex;
    width: 100%;
    height: 10px;
}
.levelWrapper div{
    display: block;
    border: 2px solid black;
    background-color: white;
    height: 100%;
}

/* div mouse needs to hover above to show upgradeInfo*/
.infoContainer {
    display: inline;
    margin-left: 10px;
}
/* changes visibility of upgradeinfo*/
.infoContainer:hover .upgradeInfo{
    visibility: visible;
}

/* Styling of infotext*/
.infoContainer .upgradeInfo {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /*cursor: pointer;*/
    position: absolute;
    z-index: 10;
}

.investments{

}

#upgradeWindow nav button{
    width: auto;
    background-color: #ffdf6c;
    border: 2px solid #af8f2c;
}

#upgradeLeftWrapper {
    display: inline-block;
    width: 65%;
    overflow: auto;
    height: 100%;
}

#upgradeRightWrapper {
    display: inline-block;
    width: 30%;
    overflow: auto;
    height: 100%;
}

#upgradeRightWrapper ul{
    margin: 0;
    padding: 0;
    list-style: none;
    color: white;
}

#upgradeRightWrapper ul li{
    padding-bottom: 10px;
}

#upgradeContentWrapper{
    top: 20%;
    position: absolute;
    height: 80%;
}