#upgradeWindowButton {
    background-image: url("../../resource/upgrade.png");
    background-size: cover;
    background-color: #D4AF37;
    border: 2px solid #af8f2c;
    width: 50px;
    aspect-ratio: 1;
    position: absolute;
    right: 0;
}

#upgradeWindowButton:hover {
    background-color: #ffdf6c;
}

#upgradeWindow {
    z-index: 2;
    position: absolute;
    box-sizing: border-box;
    padding: 10px;
    left: 10%;
    top: 10%;
    background-color: #ffdf6c;
    width: 80%;
    height: 80%;
    border: 4px solid #af8f2c;
    border-radius: 10px;
}

#closeUW {
    width: auto;
    position: absolute;
    background-color: #ffdf6c;
    border: 2px solid #af8f2c;
    right: 0;

}#closeUW:hover {
     background-color: #fde997;
}

.upgradeWrapper {
    width: 50%;
    color: #fff;
    text-align: left;
    font-family: "lato", sans-serif;
}

.upgradeWrapper button{
    position: relative;
    background-size: cover;
    background-color: #ffdf6c;
    border: 2px solid #af8f2c;
}
.upgradeWrapper button:hover{
    background-color: #fde997;
}

/* div mouse needs to hover about to show upgradeInfo*/
.infoContainer {
    display: inline;
    margin-left: 10px;
}
/* changes visibility of upgradeinfo*/
.infoContainer:hover .upgradeInfo{
    visibility: visible;
}

/* Styling of infotext*/
.infoContainer .upgradeInfo {
    visibility: hidden;
    width: 120px;
    background-color: white;
    color: black;
    text-align: center;
    padding: 5px 0;
    border-radius: 6px;
    /*cursor: pointer;*/
    position: absolute;
    z-index: 10;
}